{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="request-details-container">
        <div class="request-summary">
            <div class="request-card">
                <h2 class="request-title">Детали заявки #{{ request.id }}</h2> <!-- Здесь указан ID заявки -->
                <p class="request-date"><strong>Дата заявки:</strong> {{ request.date|date:"Y-m-d H:i:s" }}</p>
                <p class="request-address"><strong>Адрес:</strong> {{ request.address }}</p>
                <p class="request-count"><strong>Количество оборудования:</strong> {{ equipment_count_in_request }}</p>
            </div>
        </div>

        <div class="service-list-container1">
            <h2 class="services-heading">Комплектующие по заявке</h2>
            <div class="service-list1">
                {% for equipment in equipment_in_request %}
                <a href="{% url 'equipment_detail_view' equipment.id %}" class="card">
                    <p class="title">{{ equipment.name }}</p>
                    <img src="{{ equipment.image }}" alt="{{ equipment.name }}" class="service-image">
                    <div class="card-price-button-container">
                        {% if equipment.price %}
                        <p class="price">{{ equipment.price }} руб.</p>
                        {% endif %}
                        <div class="button-container">
                            <span class="card-button">Подробнее о комплектующем</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}