{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="request-details-container">
        <div class="request-summary">
            <div class="request-card">
                <h2 class="request-title">Детали заказа #{{ request.id }}</h2>
                <p class="request-date"><strong>Дата заказа:</strong> {{ request.date|date:"Y-m-d H:i:s" }}</p>
                <p class="request-address"><strong>Адрес:</strong> {{ request.address }}</p>
                <p class="request-count"><strong>Количество оборудования:</strong> {{ equipment_count_in_request }}</p>
            </div>
        </div>

        <div class="service-list-container1">
            <h2 class="services-heading">Комплектующие по заказу</h2>
            <div class="service-list1">
                {% for item in equipment_in_request %}
                <div class="service-item">
                    <a href="{% url 'equipment_detail_view' item.equipment.id %}" class="card">
                        <p class="title">{{ item.equipment.name }}</p>
                        <img src="{{ item.equipment.image }}" alt="{{ item.equipment.name }}" class="service-image">
                        <div class="card-price-button-container">
                            <p class="price">{{ item.equipment.price }} руб.</p>                       
                            <div class="button-container">
                                <span class="card-button">Подробнее о комплектующем</span>
                            </div>
                        </div>
                    </a>
                    <div class="item-details">
                        <p class="quantity"><strong>Количество:</strong> {{ item.quantity }}</p>
                        <p class="total-price"><strong>Общая стоимость:</strong> {{ item.total_price }} руб.</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}