{% extends 'base.html' %}

{% block content %}
<nav class="breadcrumbs">
    <a href="{% url 'service_list' %}" class="breadcrumb-link">Список услуг</a> &gt; 
    {{ service.name }}
</nav>

<div class="background-block">
    <div class="service-detail-container">
        <div class="service-text">
            <h1>{{ service.name }}</h1>
            <ul class="service-details">
                {% if detail %}
                    {% for item in detail.description %}
                        <li>{{ item }}</li>
                    {% endfor %}
                {% else %}
                    <li>Информация о деталях не доступна.</li>
                {% endif %}
            </ul>
        </div>
        {% if detail and detail.image_url %}
            <img src="{{ detail.image_url }}" alt="{{ service.name }}" class="service-image">
        {% endif %}
    </div>

    
</div>
<!-- Текст после блока -->
{% if detail and detail.additional_text %}
<div class="additional-text">
    <p>{{ detail.additional_text }}</p>
</div>
{% endif %}
{% endblock %}