<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Data Center{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <a href="{% url 'equipment_list_view_datacenter' %}" class="header-title">Data Center</a>
        </nav>
    </header>

    <nav class="navigation-bar">
        {% if request.path == '/' %}
        <form method="get" action="{% url 'equipment_list_view_datacenter' %}" class="search-form">
            <input type="number" name="price_datacenter" placeholder="Максимальная цена..." value="{{ max_price_datacenter }}" class="search-input" min="0">
            <button type="submit" class="search-button">Поиск</button>
        </form>

        <div class="order-info {% if not has_services_in_order %}inactive{% endif %}">
            {% if request.user.is_authenticated and current_order_id_datacenter %}
                <a href="{% url 'order_detail_view_datacenter' current_order_id_datacenter %}" class="current-order-button">
                    Текущий заказ (Оборудование: {{ equipment_count_in_order_datacenter }})
                </a>
            {% else %}
                <a href="#" class="current-order-button disabled" disabled>Текущий заказ недоступен</a>
            {% endif %}
        </div>
        {% endif %}
    </nav>

    <main class="space">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>