{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for service in services %}
    <a href="{% url 'service_detail_datacenter' service.id %}" class="card">
        <p class="title">{{ service.name }}</p>
        <div class="image-container">
            <img src="{{ service.image_url }}" alt="{{ service.name }}" class="service-image">
        </div>
        <div class="card-price-button-container">
            {% if service.price %}
            <p class="price">{{ service.price }} руб.</p>
            {% endif %}
            <div class="button-container">
                <span class="card-button">Подробнее о комплектующем</span>
                <div class="add-button-container">
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'add_service_to_draft' service.id %}">
                        {% csrf_token %}
                        <button type="submit" class="card-button">Добавить в заказ</button>
                    </form>
                    {% else %}
                    <button class="card-button disabled" disabled>Добавить в заказ</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}